{% extends 'base.html' %}
{% load static %}
{% block title%}
Login
{% endblock %}



{% block content %}


<div class="grid-container">
	<div class = "grif-x grid-padding-x">
		<div class="medium-4 small-12 medium-offset-4 cell">
			<p id = "calc"></p>
			<h2 id="red1" id= "black1">Login</h2>
			<form action="/login/" method= "POST">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value = "Login">
				<a href="/register/" class="secondary button expanded">Register</a>
				<input type="hidden" name="next" value="{{ request.GET.next }}">
				<button type ="button" onclick="myfunction()"> login red</button>
				<button type ="button" onclick="myfunction1()"> calculate a number</button>
			</form>
		</div>
	</div>
</div>

<script src="{% static 'js/main.js' %}"> </script>



{% endblock %}